# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=gogen

# Server
SERVER_PORT=8080

# JWT Configuration
JWT_SECRET=your-secret-key-change-in-production

# goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=localhost port=5432 user=postgres password=postgres dbname=gogen sslmode=disable"
GOOSE_MIGRATION_DIR=./sql/migrations